* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;

}
body{
    overflow-x: hidden;
}

header {
    background: #fff;
    position: sticky;
    top: 0;
    z-index: 100;
    border-bottom: 1px solid #ddd;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.menu {
    font-size: 22px;
    background: none;
    border: none;
    cursor: pointer;
}

.logo {
    color: #2AA0C4;
    font-size: 20px;
    margin-left: 125px;
}

.header-direito {
    display: flex;
    align-items: center;
    gap: 10px;
}

.area-restrita {
    background: #2AA0C4;
    color: white;
    border: none;
    padding: 5px 12px;
    border-radius: 6px;
    cursor: pointer;
}

.logout {
    background: #f8f8f8;
    border: 1px solid #ddd;
    padding: 5px 12px;
    border-radius: 6px;
    cursor: pointer;
}

.avatar {
    width: 32px;
    height: 32px;
    background: black;
    border-radius: 50%;
}

.sidebar {
    background: #2AA0C4;
    width: 200px;
    height: 100vh;
    position: fixed;
    top: 60px;
    left: -200px;
    transition: left 0.3s ease;
    padding-top: 20px;
}

.sidebar.open {
    left: 0;
}

.sidebar ul {
    list-style: none;
}

.sidebar li {
    color: white;
    padding: 12px 20px;
    cursor: pointer;
}

.sidebar li:hover {
    background: #003366;
}

.sidebar a {
    text-decoration: none;
    color: #fff;
}

.plano-de-fundo {
    background: #f5f6f8;
}

main {
    margin-left: 0;
    padding: 20px;
    min-height: calc(100vh - 60px);
    transition: margin-left 0.3s ease;
    width: 100%;
}

.sidebar.open~main {
    margin-left: 200px;
}

.cadastro,
.lista,
.informacoes {
    background: white;
    /*width: 150%; !*************************************************!*/
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 15px;
}

.cadastro h2,
.lista h2,
.informacoes h2 {
    color: #001f54;
    margin-bottom: 20px;
}

.filtro{ /*****************************************/
    display: flex;
    justify-content: space-around;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
}

.box {
    background: #f1f1f1;
    border-radius: 6px;
    padding: 15px;
}

.cheia {
    grid-column: span 2;
}

.box h3 {
    font-size: 14px;
    margin-bottom: 6px;
}

.box p {
    font-size: 13px;
}

.link {
    color: #187bcd;
    font-weight: bold;
}

.ativo {
    color: green;
    font-weight: bold;
    font-size: large;
}

form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
}

.campos {
    display: flex;
    flex-direction: column;
}

.campos label {
    font-size: 13px;
    margin-bottom: 5px;
    font-weight: bold;
}

.campos input,
.campos select {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 6px;
}

.acoes {
    grid-column: span 2;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.botao-cancelar {
    background: #ddd;
    border: none;
    padding: 8px 14px;
    border-radius: 6px;
    cursor: pointer;
}

.botao-salvar {
    background: #2AA0C4;
    color: white;
    border: none;
    padding: 8px 14px;
    border-radius: 6px;
    cursor: pointer;
}
/*.botao-aplicar {*/ /*************************************************************************/
/*    background: #2AA0C4;*/
/*    color: white;*/
/*    border: none;*/
/*    padding: 4px 7px;*/
/*    border-radius: 6px;*/
/*    cursor: pointer;*/
/*}*/

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
}

table th,
table td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    text-align: left;
    font-size: 14px;
}

table th {
    background: #f0f0f0;
}

.botao-editar {
    text-decoration: none;
    background: #187bcd;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 5px;
}

.botao-excluir {
    background: #ff5c5c;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
}

.botao-editar:hover {
    background: #0f5c9d;
    transform: scale(1.05);
    transition: all 0.2s ease-in-out;
}

.botao-excluir:hover {
    background: #e04848;
    transform: scale(1.05);
    transition: all 0.2s ease-in-out;
}

.botao-salvar:hover {
    background: #0f3c7a;
    transform: scale(1.05);
    transition: all 0.4s ease-in-out;
}

.area-restrita:hover {
    transform: scale(1.05);
    transition: all 0.3s ease-in-out;
    background: #001f54;
}

.topo-lista {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.botao-adicionar {
    background: #2AA0C4;
    color: #fff;
    border: none;
    padding: 8px 14px;
    border-radius: 6px;
    cursor: pointer;
}

.botao-adicionar:hover {
    background: #001f54;
    transform: scale(1.05);
    transition: all 0.3s ease-in-out;
}

.avatar-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.avatar-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.avatar {
    width: 36px;
    height: 36px;
    background-color: #000;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

.avatar:hover {
    transform: scale(1.05);
    background-color: #333;
}
.logout-btn{
    width: 60px;
}

@media (max-width: 992px) {
    header {
        padding: 0 10px;
    }

    .logo {
        margin-left: 0;
        font-size: 18px;
    }

    .sidebar {
        width: 180px;
    }

    .sidebar.open ~ main {
        margin-left: 180px;
    }

    .grid {
        grid-template-columns: 1fr 1fr;
    }

    form {
        grid-template-columns: 1fr 1fr;
    }
}



main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.lista {
    background: white;
    width: 100%; /* garante que o card da lista use toda a tela */
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 15px;
    overflow-x: auto; /* adiciona rolagem se necessário */
}

table {
    width: 100%;
    min-width: 1200px; /* aumenta a largura mínima */
    border-collapse: collapse;
    margin-top: 15px;
}




@media (max-width: 768px) {
    header {
        justify-content: space-between;
        padding: 0 10px;
    }

    .logo {
        font-size: 18px;
    }

    .header-direito {
        gap: 5px;
    }

    .area-restrita, .logout {
        padding: 5px 10px;
        font-size: 13px;
    }

    .sidebar {
        width: 180px;
        left: -180px;
    }

    .sidebar.open {
        left: 0;
    }

    main {
        padding: 15px;
        margin: 0;
        max-width: 100%;
    }

    .sidebar.open ~ main {
        margin-left: 0;
    }

    .grid, form {
        grid-template-columns: 1fr;
    }

    .acoes {
        justify-content: center;
    }

    table th, table td {
        font-size: 13px;
        padding: 8px;
    }
}

@media (max-width: 480px) {
    header {
        height: 55px;
        flex-direction: row;
        justify-content: space-between;
    }

    .menu {
        font-size: 20px;
    }

    .logo {
        font-size: 16px;
    }

    .area-restrita,
    .logout {
        font-size: 12px;
        padding: 5px 8px;
    }

    .avatar {
        width: 30px;
        height: 30px;
    }

    .cadastro,
    .lista,
    .informacoes,
    .editar {
        padding: 15px;
    }

    h2 {
        font-size: 18px;
    }

    .botao-adicionar,
    .botao-salvar,
    .botao-cancelar{
        font-size: 13px;
        padding: 6px 10px;
    }

    table {
        display: block;
        overflow-x: auto;
        white-space: nowrap;
    }

    .dropdown {
        right: -20px;
        min-width: 120px;
    }
}
@media (max-width: 768px) {
    table td {
        text-align: center;
    }

    .botao-editar,
    .botao-excluir {
        display: inline-block;
        width: auto;
        min-width: 70px;
        padding: 6px 10px;
        margin: 3px;
    }
}