body {
    font-family: Arial, sans-serif;
    background: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    height: 100%;
    overflow: hidden;
}

.form-container {
    background: #fff;
    padding: 20px 30px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    width: 600px;
}

.container-maior {
    display: flex;
    gap: 150px;
    align-items: center;
    justify-content: center;
}

.form-container h2 {
    text-align: center;
    margin-bottom: 20px;
}

.campos {
    margin-bottom: 15px;
}

.campos label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.campos, .campos-readonly {
    margin-bottom: 15px;
}

.campos label, .campos-readonly label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.campos input {
    width: 100%;
    padding: 8px;
    border: 1px solid #bbb;
    border-radius: 6px;
}

.campos select {
    width: 104%;
    padding: 8px;
    border: 1px solid #bbb;
    border-radius: 6px;
}

.campos-readonly input,
.campos-readonly select {
    width: 100%;
    padding: 8px;
    border: 1px solid #e00;
    border-radius: 6px;
}

.acoes {
    text-align: center;
    margin-top: 20px;
}

.acoes input[type="submit"] { /* aplica apenas os inputs de submit*/
    background-color: #0a1a3b;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 6px;
    cursor: pointer;
}

.acoes input[type="submit"]:hover {
    background-color: #0e2454;
}


.acoes input[type="button"] {
    background-color: #ececec;
    color: #000;
    border-radius: 6px;
    padding: 6px 10px;
}

.acoes input[type="button"]:hover {
    cursor: pointer;
    background-color: #b3b3b3;
}